name: cron

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  tifa-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: shiron-dev/actions/setup-node@9e2029b6bf55740748a5eace94dc93d97a1496ba # v1.5.2
      - name: Run install
        run: |
          pnpm install --frozen-lockfile
      - name: Run start
        run: pnpm run start
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          REVIEW_REQUESTED_HOURS: 3
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
